# -- Framework Web y Servidor --
# El corazon de tu aplicacion.
fastapi
uvicorn

# -- Dependencias Opcionales de Uvicorn para Mejor Rendimiento --
# Se instalan por separado para un mejor control.
websockets
httptools

# -- Librerias Esenciales de FastAPI --
# Pydantic es para la validacion de datos, starlette es el toolkit subyacente.
pydantic
starlette

# -- Libreria Opcional (pero probablemente necesaria) --
# Si tu API recibe datos de formularios o subida de archivos.
python-multipart